.character-list-view {
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.character-list-view__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(173px, 1fr));
}
