.character-list-view {
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.character-list-view__list {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    justify-content: center;
    opacity: 1;
    transition-duration: 1s;
}
.character-list-view__list--loading {
    opacity: 0;
}
