body,
html,
input {
    font-family:
        Roboto Condensed,
        serif;
}

.corner-triangle::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12px 12px;
    border-color: transparent transparent white transparent;
    transform: rotate(0deg);
    bottom: 0;
    right: 0;
}

a {
    display: block;
    text-decoration: none;
}
