.char-card {
    width: 173px;
    height: 246px;
    cursor: pointer;
}

@keyframes animacionInfinita {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.1;
    }
}

.char-card--placeholder {
    background-color: var(--color-dark);
    opacity: 0.2;
}

.char-card__thumbnail {
    width: 173px;
    height: 173px;
}

.char-card__thumbnail img {
    width: 173px;
    height: 173px;
    object-fit: cover;
    object-position: left;
}

.char-card__splitter {
    width: 100%;
    height: 5px;
    background-color: var(--marver-red);
}

.char-card__name {
    width: 100%;
    height: 56px;
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    padding: 16px 16px 24px 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    overflow: hidden;

    background: linear-gradient(
            var(--marver-red),
            var(--marver-red) 50%,
            var(--color-dark) 50%,
            var(--color-dark)
        )
        100% 100%;
    background-size: 100% 200%;
    transition: background 0.3s;
}

.char-card__name__fav {
    min-width: 12px;
    height: 12px;

    transition-duration: 0.3s;
}

.char-card__name__text {
    cursor: text;
}

@media (min-width: 540px) {
    .char-card:hover .char-card__name {
        background-position: 0 0;
    }
    .char-card:hover .char-card__name__fav.icon--heart {
        background-color: var(--color-clear);
    }
}
