:root {
    --marver-red: #ec1d24;
    --color-dark: #000;
    --color-clear: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}
