:root {
    --marver-red: #ec1d24;
    --color-dark: #000;
    --color-clear: #fff;
    --color-grey: #d9d9d9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body,
html,
input {
    font-family:
        Roboto Condensed,
        serif;
}
