:root {
    --header-bg-color: #000;

    --marver-red: #ec1d24;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: "Roboto", sans-serif;
}
